<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        .no-bullets {
            list-style-type: none;
        }
        
        .back-button {
            background-color: #28a745;
            color: white;
        }
    </style>
    <title>Doggo Breed Information</title>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5 text-center">
                <h1 class="mb-5">Breed Details: {{ breed }}</h1>
                {% if breed_info %}
                    <ul class="no-bullets">
                        {% for key, value in breed_info.items() %}
                        {% if key == 'image_link' %}
                            <li><img src="{{ value }}" alt="{{ breed_info['name'] }}" style="width: 200px;"></li>
                            <li><strong>{{ key.replace('_', ' ').capitalize() }}:</strong> <a href="{{ value }}">{{ breed_info['name'].replace("_", " ").capitalize() }}</a></li>
                        {% elif key not in ['name'] %}
                            <li><strong>{{ key.replace('_', ' ').capitalize() }}:</strong> {{ value }}
                            {% if explanations[key.replace('_', ' ')] %}
                                <br><small>{{ explanations[key.replace('_', ' ')] }}</small>
                            {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}                    
                    </ul>
                {% elif error_message %}
                    <p>{{ error_message }}</p>
                {% else %}
                    <p>No information available for this breed.</p>
                {% endif %}
                <button class="btn btn-success" onclick="goBack()">Back</button>
            </div>
        </div>
    </div>
</body>
</html>
